pytest==7.2.0
# requests_mock has issues with sessions and cookies.
# See https://github.com/jamielennox/requests-mock/pull/220
requests_mock@git+https://github.com/jaraco/requests-mock@bugfix-17
streaming-form-data==1.11.0  # https://github.com/siddhantgoel/streaming-form-data
