name: lint_python
on:
  pull_request:
  push:
    branches: [master]
jobs:
  lint_python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install --upgrade pip
      - run: pip install black codespell flake8 isort pytest
      - run: black --check .
      - run: codespell --ignore-words-list="didnt" --skip="*.tsv,*.xsd" --quiet-level=2
      - run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      - run: isort --profile black .
      - run: pip install -r requirements.txt -r twitter-borrowbot/requirements.txt
      - run: pip list --outdated
      - run: pip install --editable .  # https://docs.pytest.org/en/stable/goodpractices.html
      - run: pytest --ignore="twitter-borrowbot/test_borrowbot.py"
      # - run: pytest --doctest-modules . || true
