name: lint_python
on:
  pull_request:
  push:
    branches: [master]
jobs:
  lint_python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: pip install black codespell flake8 isort pytest
      - run: black --check . || true
      - run: codespell --ignore-words-list="didnt" --skip="*.xsd" --quiet-level=2
      - run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
      - run: isort --profile black . || true
      - run: pip install -r requirements.txt
      - run: pip list --outdated
      - run: pip install -e .  # https://docs.pytest.org/en/stable/goodpractices.html
      - run: pytest .
      - run: pytest --doctest-modules . || true
